projectPrefix = "eric"
namespace     = "eric"

volterraTenant         = "f5-sales-public"
volterraCloudCredAWS   = "eric-aws"
volterraCloudCredAzure = "eric-azure"
awsRegion              = "us-east-1"

