{
"projectPrefix":"${projectPrefix}",
"awsRegion":"${awsRegion}",
"vpcId":"${vpcId}",
"vpcRt":"${vpcRt}",
"vpcCidr":"${vpcCidr}",
"vpcPeerId":"${vpcPeerId}",
"vpcPeerRt":"${vpcPeerRt}",
"vpcPeerCidr":"${vpcPeerCidr}"
}
